Makefile
apps/Makefile
apps/obj-intel64/
client.out.*
clients/Makefile
clients/obj-intel64
config.log
config.status
redspy_temporal.out.*
src/Makefile
src/config.h
src/obj-intel64/
src/stamp-h1
tests/Makefile
tests/obj-intel64/
